@font-face {
    font-family: 'FF Scala';
    src:
        url('/fonts/FFScala-Regular.woff2') format('woff2'),
        url('/fonts/FFScala-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}